variables:
  PLUGIN_NAME: 'scieloScreening'

include:
  - project: 'documentacao-e-tarefas/modelosparaintegracaocontinua'
    ref: stable-3_5_0
    file:
      - 'templates/groups/pkp_plugin.yml'
      - 'templates/groups/ops/unit_tests.yml'
      - 'templates/groups/ops/cypress_tests.yml'

.unit_test_template:
  before_script:
    - apt update && apt install poppler-utils -yqq

.integration_tests_template:
  before_script:
    - sed -i 's/api_key_secret = ""/api_key_secret = "$API_KEY_SECRET"/' /var/www/$APPLICATION/config.inc.php
    - apt update && apt install poppler-utils -yqq

ops_integration_tests:
  rules:
    - when: never