#screeningInfoHeader h2 {
    margin-top: 18px;
    margin-bottom: 0;
}

#screeningInfoHeader p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 18px;
}

#metadataEnglishHeader, #affiliationHeader, #orcidHeader, #pdfsHeader, #documentOrcidsHeader {
    display: flex;
    align-items: center;
    background-color: #DCDCDC;
    padding: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.headerWithoutBody {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#affiliationBody, #pdfsBody, #documentOrcidsBody {
    background-color: #f5f5f5;
    padding: 8px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.screeningStatusOkay {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background-color: #00b28d;
    border-radius: 12px;
}

.screeningStatusWarning {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background-color: #daa520;
    border-radius: 12px;
}

.screeningStatusNotOkay {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background-color: #d00a6c;
    border-radius: 12px;
}
        
#metadataEnglishMessage, #affiliationMessage, #orcidMessage, #pdfsMessage, #documentOrcidsMessage {
    line-height: 24px;
    font-size: 16px;
    margin-left: 0.5em;
}

#metadataEnglishInfoField, #affiliationInfoField, #orcidInfoField, #numPDFInfoField {
    margin-bottom: 18px;
}

li {
    font-size: 16px;
}