#screeningStep4Header {
    margin-top: 0px;
    margin-bottom: 18px;
}
#statusScreeningStep4 {
    border: 1px solid #c2c0c0;
    padding: 20px;
    margin-bottom: 25px;
}
#screeningStep4Header h3 {
    font-size: 16px;
    line-height: 24px;
    margin: 0px 0px;
}

.warningField {
    display: flex;
    align-items: center;
    background-color: #DCDCDC;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 18px;
}

.statusScreeningWarning {
    width: 24px;
    height: 24px;
    background-color: #daa520;
    border-radius: 12px;
}

.statusNotOkay {
    width: 24px;
    height: 24px;
    background-color: #d00a6c;
    border-radius: 12px;
}

.warningField span {
    line-height: 24px;
    font-size: 16px;
    margin-left: 0.5em;
}

#doiHeader {
    display: flex;
    align-items: center;
    background-color: #DCDCDC;
    padding: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#doiMessage {
    line-height: 24px;
    font-size: 16px;
    margin-left: 0.5em;
}

#doiBody {
    background-color: #f5f5f5;
    padding: 8px;
    margin-bottom: 18px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#doiBody > span, li {
    font-size: 16px;
    margin-bottom: 8px;
}

#manyPDFHeader {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 0px;
}

#manyPDFBody {
    background-color: #f5f5f5;
    padding: 8px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}