#doiScreeningInWorkflow #doiForm {
    margin: 0 -32px 32px -32px;
    border: 1px solid  #ddd;
}

#doiScreeningInWorkflow #doiForm #doiFormArea {
    padding: 32px;
    margin-bottom: 32px;
}

.content #doiForm #doiFormArea {
    padding: 16px;
    margin-bottom: 32px;
}

#doiFormArea h2 {
    margin-top: 0px;
    margin-bottom: 16px;
}

#doiFormArea p {
    text-align: justify;
    line-height: 24px;
}

.myError {
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 0.5em;
    border-left: 8px solid #d00a6c;
    font-size: 14px;
    line-height: 24px;
    color: #d00a6c;
}

.mySuccess {
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0.5em;
    border: 2px solid #00b28d;
    border-radius: 14px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: 24px;
    color: #00b28d;
}

#firstDOILabel, #secondDOILabel, #thirdDOILabel {
    font-size: 16px;
}

#firstDOI, #secondDOI, #thirdDOI {
    width: 100%;
    height: 40px;
    padding: 0px 14px;
}

#secondFormField, #thirdFormField {
    margin-top: 24px;
}

#firstDOI, #secondDOI, #thirdDOI {
    border: 1px solid #bbb;
}

#doiFormFooter {
    padding: 16px;
    border-top: 1px solid #ddd;
    text-align: right;
}

#doiSubmit {
    margin-right: 7px;
}
